.header {
    display: flex;
    padding: 92px 24px 96px;
    height: 105px;
    flex-wrap: nowrap;
    align-items: center;
}

.header_menu {
    width: 391.48px;
    height: 22px;
    padding-left: 26px;
}

.header_menu-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    white-space: nowrap;
}

.header_menu-link {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}

.header_menu-link-active .header_menu-link {
    text-decoration: none;
    list-style: none;
}

.header_menu-link-inactive {
    letter-spacing: 1%;
    text-decoration: underline;
    list-style: circle;
}

.image_logo-black {
    padding-left: 36px;
}

.logo-black {
    width: 148px;
    height: 105px;
}

.header_contacts {
    width: 240.52px;
    height: 98px;
    padding-left: 184px   

}

.text-contacts {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}

.contacts_phone-namber {
    letter-spacing: 1%;
    width: 240px;
    height: 24px;
    text-decoration: underline;
}

.contacts_email {
    letter-spacing: 1%;
    width: 240px;
    height: 24px;
    text-decoration: underline;
}

.contacts_address {
    width: 237px;
    height: 49px;
}

.cover {
    background-color: yellow;
    height: 757px;
}

.lots {
    background-color: green;
    padding: 179px 24px 146px;
    height: 692px;
}

.about {
    background-color: yellow;
    padding: 0 24px 180px;
    height: 595px;
}

.footer {
    background-color: green;
    padding: 0 50px 88px;
    height: 98px;
}