/* Шапка сайта */

.header {
  margin: 92px 24px 96px;
  padding: 0 25px 0 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Навигационное меню */

.header__menu {
  display: block;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  white-space: nowrap;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000000;
}

.header__link_active {
  text-decoration: none;
}

/* Логотип */

.header__logo {
  cursor: pointer;
}

.header__logo-image {
  margin: 0 180px 0 45px;
  width: 148px;
}

/* Контактная информация */

.address__list {
  display: flex;
  flex-direction: column;
}

.address__link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000000;
}

p .address__link {
  letter-spacing: 0;
}

a .address__link {
  letter-spacing: 1%;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

/* Основное содержимое сайта */

.main {
  display: flex;
  flex-direction: column;
}

/* Секция с заголовком */

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #000000;
  opacity: 60%;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 165px 50px 100px 50px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  padding: 37px 50px 51px 78px;
  display: flex;
  flex-direction: row;
  gap: 83px;
  align-items: center;
}

.cover__description-text {
  position: relative;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  white-space: nowrap;
  color: #ffffff;
  text-transform: uppercase;
}

.bet-button {
  position: relative;
  z-index: 1;
  border: 1px solid #ffffff;
  padding: 12px 31px;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  white-space: nowrap;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
}

/* Секция с карточками */

.lots {
  margin: 186px 24px 73px;
}

/* Заголовок секции */

.lots__heading {
  padding-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #000000;
  text-transform: uppercase;
}

/* Список карточек */

.lots__card-list {
  margin: 27px 0 33px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-grow: 1;
}

.lots__card-list-item {
  list-style-type: none;
}

.card-link {
  cursor: pointer;
}

.card {
  position: relative;
  width: 334px;
  height: 100%;
  padding: 51px 40px 48px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

/* Ссылка */

.lots__look-more-link {
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

/* Секция с описанием об аукционе */

.about {
  margin: 73px 24px 90px;
  padding: 35px 5px 0 47px;
  display: flex;
  flex-direction: row;
  gap: 72px;
}

.about__column {
  width: max-content;
}

/* Логотип в секции об аукционе */

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
}

/* Заголовок и абзац об аукционе */

.about__title {
  padding: 105px 0 104px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #000000;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text p {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/* Подвал сайта */

.footer {
  margin: 90px 50px 88px;
  display: flex;
  flex-direction: row;
}

/* Навигационное меню */

.footer__menu {
  margin: 5px 185px 0 223px;
  display: block;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__menu-link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

/* Список ссылок на социальные сети */

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-link {
  cursor: pointer;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
