.header {
    display: flex;
    height: 105px;
    margin: 92px 24px 0;
}

.header__menu {
    padding: 44px 36px 39px 26px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    list-style: circle;
    column-gap: 25px;
    height: 22px;
    width: 392px;
}

.header__links-list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000; 
}

.header__link {
    text-decoration: none;
    border-bottom: 1px #000 solid;
}

.header__link_active .header__links-list{
    list-style-type: none;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.header__logo-image {
    display: flex;
    align-items: center;
    width: 100%;
}

.header__address {
    width: 450px;
    padding: 5px 25px 2px 184px;
}

.text__address {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    flex-wrap: nowrap;
    color: #000;
}

.phone-number,
.email-address {
    text-decoration: none;
    border-bottom: 1px #000 solid;
    height: 24px;
    width: 240px;
    letter-spacing: 1%;
}

.location {
    width: 237px;
    height: 49px;
}

.cover {
    background-color: gold;
    height: 757x;
    padding-bottom: 179px;
}

.lots {
    background-color: gray;
    height: 692px;
    padding: 0 24px 146px;
}

.about {
    background-color: gold;
    height: 595px;
    padding: 0 24px 180px;
}

.footer {
    background-color: gray;
    height: 98px;
    padding: 0 50px 88px;
}