.page {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

/* ПАТТЕРНЫ */

.overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 60%;
}

/* ШАПКА САЙТА */

.header {
  margin: 92px 24px 96px;
  display: flex;
  flex-direction: row;
}

.header__menu {
  margin: 44px 40px 0 27px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  border-bottom: 1px solid rgb(0, 0, 0);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: rgb(0, 0, 0);
  letter-spacing: 1%;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  cursor: pointer;
}

.header__logo-image {
  width: 133px;
}

.header__address {
  margin-top: 5px;
  margin-left: 192px;
  max-width: 230px;
  display: flex;
  flex-direction: column;
}

.address {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  color: rgb(0, 0, 0);
  letter-spacing: 0;
  text-decoration: none;
}

.address:nth-child(1),
.address:nth-child(2) {
  width: fit-content;
  border-bottom: 1px solid rgb(0, 0, 0);
}

/* ОСНОВНАЯ ЧАСТЬ САЙТА */

.main {
  display: flex;
  flex-direction: column;
}

/* СЕКЦИЯ С ЗАГОЛОВКОМ */

.cover {
  position: relative;
  padding: 165px 25px 51px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.aligned-text {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  color: rgb(255, 255, 255);
  letter-spacing: 30%;
  text-transform: uppercase;
  display: block;
}

.aligned-text_center {
  margin: 33px 0 20px 290px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60%;
}

.cover__description {
  margin-top: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 97px;
}

.cover__description-text {
  position: relative;
  z-index: 1;
  margin-left: 30px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  word-spacing: 15px;
}

.bet-button {
  position: relative;
  z-index: 1;
  border: 1px solid rgb(255, 255, 255);
  width: 256px;
  height: 51px;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
}

/* СЕКЦИЯ С ЛОТАМИ */

.lots {
  margin: 179px 24px 146px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0;
}

.lots__card-list {
  margin-bottom: 42px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-grow: 1;
}

.lots__card-list-item {
  list-style-type: none;
}

.card-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.card {
  position: relative;
  width: 334px;
  height: 563px;
  padding: 60px 40px 48px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: rgb(255, 255, 255);
  letter-spacing: 0;
}

.lots__look-more-link {
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

/* СЕКЦИЯ ОБ АУКЦИОНЕ */

.about {
  margin: 0 24px;
  display: grid;
  grid-template-columns: 240px 693px;
  gap: 120px;
}

.about__logo {
  margin: 35px 0 0 47px;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 142px;
}

.about__column {
  margin: 138px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__title {
  margin-bottom: 78px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0;
}

.about__text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  letter-spacing: 1%;
}

.about__text:last-child {
  letter-spacing: 0;
}

/* ПОДВАЛ САЙТА */

.footer {
  margin: 180px 24px 88px;
}
